<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
     layout:decorate="/service/serviceBody">-->

<!--<th:block layout:fragment="bodyPage1">-->
<th:block th:fragment="bodyPage1">
    <style>
        /*#serviceTitle{width: 700px;}*/
        .redDot{
            color:red;
            margin-left:1px;
        }
    </style>
    <div class="container shadow-sm rounded mt-4 d-block" style="width:inherit; margin-bottom:200px">
        <div class="form-group d-flex pt-4" id="redBorder1" style="width:800px; height:75px; border:1px solid gray">
        <div><p style="width: 150px; height:25px; line-height: 25px; text-align:center">제목<span class="redDot">*</span></p></div>
<!--          <div class="firstPage">  -->

            <div>
                <input type="text" class="form-control" name="serviceTitle" id="serviceTitle" style="width:550px; height:25px; border:0;"  onchange="keyCount(this)"
                       placeholder="서비스를 잘 드러낼 수 있는 제목을 입력해 주세요" required>
<!--                <input type="hidden" name="titleCheck" id="titleCheck" value="false">-->
            </div>
<!--       <div class="charCounter" name="charCounter" style="height:50px; line-height:35px;"> </div>-->
        <div class="charCounter" name="charCounter" id="charCounter" style="height:25px; line-height:25px;" > 0/30</div>
        </div>
            <div id="titleAlert" style="display:none;">
                <p style="color:red;"><b>최소 10글자 이상, 30이하로 입력해주세요.</b></p>
            </div>

        <div class="form-group d-flex rounded pt-4" id="redBorder2"  style="width:800px; height:75px; border:1px solid gray">
            <div><p style="width: 150px; height:25px; line-height: 25px;  text-align:center">카테고리<span class="redDot">*</span></p></div>
            <div>
                <select class="serviceTopCat" name="serviceTopCat" id="serviceTopCat" style="width:550px; height:25px;">

                    <option value=0>- 선택해 주세요 -</option>
                    <option value="" disabled>----------------------</option>
                    <th:block th:each="topCat : ${topCatList}">
                        <option name="selectedCat" th:value="${topCat.serviceTopCatCode}" th:text="${topCat.serviceTopCatName}"></option>
                    </th:block>
                </select>
                <input type="hidden" name="serviceTopCatName" id="serviceTopCatName" value="">
            </div>
        </div>
        <div id="TopCatAlert" style="display:none;">
            <p style="color:red;"><b>상위 카테고리를 선택해 주세요.</b></p>
        </div>
        <div class="d-block">
        <div class="form-group" id="serviceTypeDiv" style="display:none; width:800px; height:75px;">
            <div class="d-flex">
<!--            <div><p style="width: 150px; height:25px; line-height: 25px; margin-top : 60px; text-align:center">카테고리</p></div>-->
                <div class="serviceType" name="serviceType" id="serviceType">
                    <div> <p name="typeName"></p></div>
                    <input type="text" class="typeInput" style="width:300px;"/>
                </div>
            </div>
            <div id="SrvTypeAlert" style="display:none;">
                <p style="color:red;"><b>필수 서비스 타입을 설정해주세요</b></p>
            </div>
            <div class="mt-3 d-flex">
                <input type="hidden" name="keywordIsExist" value="0";>
                <span style="width:150px; margin-right:20px">검색 키워드(미지원)ㅤㅤ</span><input type="text" name="keywordInput1" style="width:470px; line-height:50px; border:0" value="" placeholder="키워드 입력"/>
                <span style="width:50px; line-height: 50px">0/5</span><button style="width:50px">추가</button>
            </div>
        </div>


       </div>
    </div>

    <div class="emptyArea" style="margin-bottom: 500px; height: 400px"></div>
    <!-- Button trigger modal -->


<script src="/js/service.js"></script>
<script>
    let titleChk = "";
    let topCatChk = "";
    let srvTypeChk = "";
    // let charCounter=$("div[name=charCounter]");
    //let serviceTitle = $("#serviceTitle");
    function keyCount(keyNum){
        console.log("serviceTitle : "+keyNum.value);
        console.log(document.getElementById("charCounter").textContent);
        document.getElementById("charCounter").textContent="  "+keyNum.value.length+"/30";
        console.log("RealkeyNum : "+document.getElementById("serviceTitle").value.length);
        if(keyNum.value.length>30){
            document.getElementById("charCounter").style.color='red';
        }else{document.getElementById("charCounter").style.color='black';}



    }

    $(document).ready(function (){
        let serviceTypeArea = $(".serviceType");
        let serviceTitle = $("#serviceTitle");
        let titleAlert = $("#titleAlert");
        let btnSave = $("#btn-save");
        let btnNext = $("#btn-next");
        let serviceTopCat =$("select[name=serviceTopCat]");
        let charCounter=$("div[name=charCounter]");


        // let typeInputdiv = $("div[name=typeInputdiv]");
         let typeInput =$(".typeInput:required");
      //  let serviceType = $("div[name=serviceType]");


        let topCat = document.getElementById("serviceTopCat");
       let selectedCat = (topCat.options[topCat.selectedIndex].value);
        //
        // let typeInput =$("input[name=typeInput]").attr("required", true);
        // let typeInput =$("input[name=typeInput]");
        // console.log(typeInput);
        //
        // console.log(typeInput.length);
        // serviceTitle.on("keyup", function (){
        //     charCounter.innerText=' '+serviceTitle.val().length+'/30';
        //     console.log("charCounter: "+charCounter.innerText);
        //     console.log("serviceTitle : "+serviceTitle.val().length);
        // });


        serviceTitle.on("change", function(){

            if (serviceTitle.val().length < 31 && serviceTitle.val().length > 9) {
                document.getElementById("titleAlert").style.display='none';
                titleChk = "true";
                document.getElementById("redBorder1").style.border='1px solid gray';
                console.log("제목 작성여부 : "+titleChk);
            }
            });

      //  카테고리 선택 유효성 검사
        serviceTopCat.on("change", function (){
                topCatChk="false";
            // console.log(typeInput.length());
            // console.log(typeInput.length);
            let topCatSel = $("select[name=serviceTopCat] > option:selected");
            console.log("topcatsel : " + topCatSel.val());
            if(topCatSel.val().trim()!="" || topCatSel.val().length>3){
                document.getElementById("TopCatAlert").style.display='none';
                document.getElementById("serviceTypeDiv").style.display="block";
                document.getElementById("redBorder2").style.border='1px solid gray';
                topCatChk="true";
                console.log("카테고리 선택 여부 : "+topCatChk);
                document.getElementById("serviceTopCatName").value=topCatSel.text();
                console.log("serviceTopCatName's value= "+ topCatSel.text());
            }

            if(topCatSel.value==0){
                topCatChk="false";
                console.log(document.getElementById("serviceTypeDiv"));
                document.getElementById("serviceTypeDiv").style.display="none";
                console.log("카테고리 선택 여부 : "+topCatChk);
            }
        });




        //     typeInput.on("change", function(){
        //     console.log("servicetypeInput 감지")
        // })



        //
        // btnSave.on("click", function(){
        //     let topCatSel = $("select[name=serviceTopCat] > option:selected");
        //     let typeInput =$("input[name=typeInput]:required");
        //     let srvCnt = 0;
        //     for(var i=0; i<typeInput.length; i++){
        //         console.log(i+"번째 입력값 : "+typeInput[i].value);
        //         if(typeInput[i].value.length > 4){
        //             srvCnt++;
        //         }
        //     }
        //     console.log("서비스 인풋 카운터 : " +srvCnt);
        //     console.log("필수입력 서비스타입 갯수 : " + typeInput.length)
        //
        //     if(srvCnt == typeInput.length){
        //         srvTypeChk = "true";
        //         console.log("서비스타입 필수입력값 입력여부 : " + srvTypeChk)
        //         document.getElementById("SrvTypeAlert").style.display='none';
        //     }
        //
        //     // console.log(selectedCat);
        //     console.log(topCatSel.val());
        //     if (serviceTitle.val().length < 10 || serviceTitle.val().length > 30) {
        //         //titleAlert.style.display = 'block';
        //
        //         document.getElementById("titleAlert").style.display='block';
        //         serviceTitle.focus();
        //     }
        //
        //     if (topCatSel.val() == null || topCatSel.val().trim() == ""){
        //         document.getElementById("TopCatAlert").style.display='block';
        //     }
        //
        //     if(typeInput.val()==null || typeInput.val().trim()==""){
        //         document.getElementById("SrvTypeAlert").style.display='block';
        //     }
        //
        //     if(topCatChk=="true" && titleChk=="true" &&srvTypeChk=="true"){
        //         return;
        //     }
        //
        // })//btnSave.on
        //
        // btnNext.on("click", function(){
        //     if (serviceTitle.val().length < 10 || serviceTitle.val().length > 30) {
        //         //titleAlert.style.display = 'block';
        //         document.getElementById("titleAlert").style.display='block';
        //         serviceTitle.focus();
        //         return;
        //     }
        // })//btnSave.on

    })//readyFunction

</script>
</th:block>

