<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- 헤더 -->
<th:block th:replace="/inc/header :: headerFragment"></th:block>
<style>
    a{text-decoration: none;
        color:black;
    }
</style>
<!--  바디  -->
<div class="d-flex m-auto" style="width:90vw">
    <!--    <aside th:replace="/inc/leftServiceInputNav :: asideFragment"></aside>-->

    <aside class="side-container border-end" style="width:200px; margin-left:10%;">

        <a href="#" id="btn-one" name="aside-btn">
            <div class="d-flex mt-5">
                <table class="me-5">
                    <tr>
                        <td id="num1" style="border: 1px solid black; width:30px; height:30px; text-align:center;">1</td>
                        <td>ㅤ기본정보</td>
                    </tr>
                </table>
            </div>
        </a>

        <a href="#" id="btn-two" name="aside-btn">
            <div class="d-flex mt-4">
                <table class="me-5">
                    <tr>
                        <td id="num2"  style="border: 1px solid black; width:30px; height:30px; text-align:center;">2</td>
                        <td>ㅤ가격설정</td>
                    </tr>
                </table>
            </div>
        </a>

        <a href="#" id="btn-three" name="aside-btn">
            <div class="d-flex mt-4">
                <table class="me-5">
                    <tr>
                        <td id="num3" style="border: 1px solid black; width:30px; height:30px; text-align:center;">3</td>
                        <td>ㅤ서비스 설명</td>
                    </tr>
                </table>
            </div>
        </a>

        <a href="#" id="btn-four" name="aside-btn">
            <div class="d-flex mt-4">
                <table class="me-5">
                    <tr>
                        <td id="num4" style="border: 1px solid black; width:30px; height:30px; text-align:center;">4</td>
                        <td>ㅤ이미지</td>
                    </tr>
                </table>
            </div>
        </a>

        <a href="#" id="btn-five" name="aside-btn">
            <div class="d-flex mt-4">
                <table class="me-5">
                    <tr>
                        <td id="num5" style="border: 1px solid black; width:30px; height:30px; text-align:center;">5</td>
                        <td>ㅤ요청사항</td>
                    </tr>
                </table>
            </div>
        </a>
    </aside>

    <div class="contents-area">
        <form class="form-join" method="post" enctype="multipart/form-data">

            <div class="firstInput" id="firstInput" style="display:block;">
                <th:block th:replace="/service/serviceInputOne :: bodyPage1"></th:block>
                <!--             <th:block layout:fragment="bodyPage1"></th:block>-->
                <!--             <section th:replace="/service/serviceInput :: bodyPage1"></section>-->
            </div>

            <div class="secondInput" id="secondInput" style="display:none;">
                <th:block th:replace="/service/serviceInputTwo :: bodyPage2"></th:block>
            </div>

            <div class="secondInput" id="thirdInput" style="display:none;">
                <th:block th:replace="/service/serviceInputThree :: bodyPage3"></th:block>
            </div>
            <div class="secondInput" id="forthInput" style="display:none;">
                <th:block th:replace="/service/serviceInputFour :: bodyPage4"></th:block>
            </div>
            <div class="secondInput" id="fifthInput" style="display:none;">
                <th:block th:replace="/service/serviceInputFive :: bodyPage5"></th:block>
            </div>
        </form>
    </div>
</div>


<!-- 푸터 -->
<footer th:replace="/inc/footer :: footerFragment"></footer>

</body>
<script>
    let btnOne = $("#btn-one");
    let btnTwo = $("#btn-two");
    let btnThree = $("#btn-three");
    let btnFour = $("#btn-four");
    let btnFive = $("#btn-five");
    let firstInput = $("#firstInput");


    $(document).ready(function (){
        btnOne.on("click", function(){
            //firstInput.style.display='none';
            // document.getElementByName("aside-btn").style.fontWeight='normal';

            document.getElementById("btn-one").style.fontWeight='bolder';
            document.getElementById("btn-two").style.fontWeight='normal';
            document.getElementById("btn-three").style.fontWeight='normal';
            document.getElementById("btn-four").style.fontWeight='normal';
            document.getElementById("btn-five").style.fontWeight='normal';


            document.getElementById("num1").innerText='V';
            document.getElementById("num2").innerText='2';
            document.getElementById("num3").innerText='3';
            document.getElementById("num4").innerText='4';
            document.getElementById("num5").innerText='5';


            // 이거 깔끔하게 쓰는법 아시는분?
            document.getElementById("firstInput").style.display='block';
            document.getElementById("secondInput").style.display='none';
            document.getElementById("thirdInput").style.display='none';
            document.getElementById("forthInput").style.display='none';
            document.getElementById("fifthInput").style.display='none';

        })

        btnTwo.on("click", function(){
            // document.getElementsByName("aside-btn").style.fontWeight='normal';
            document.getElementById("btn-one").style.fontWeight='normal';
            document.getElementById("btn-two").style.fontWeight='bolder';
            document.getElementById("btn-three").style.fontWeight='normal';
            document.getElementById("btn-four").style.fontWeight='normal';
            document.getElementById("btn-five").style.fontWeight='normal';

            document.getElementById("num1").innerText='1';
            document.getElementById("num2").innerText='V';
            document.getElementById("num3").innerText='3';
            document.getElementById("num4").innerText='4';
            document.getElementById("num5").innerText='5';

            document.getElementById("firstInput").style.display='none';
            document.getElementById("secondInput").style.display='block';
            document.getElementById("thirdInput").style.display='none';
            document.getElementById("forthInput").style.display='none';
            document.getElementById("fifthInput").style.display='none';
        })

        btnThree.on("click", function(){
            //document.getElementsByName("aside-btn").style.fontWeight='normal';
            document.getElementById("btn-one").style.fontWeight='normal';
            document.getElementById("btn-two").style.fontWeight='normal';
            document.getElementById("btn-three").style.fontWeight='bolder';
            document.getElementById("btn-four").style.fontWeight='normal';
            document.getElementById("btn-five").style.fontWeight='normal';

            document.getElementById("num1").innerText='1';
            document.getElementById("num2").innerText='2';
            document.getElementById("num3").innerText='V';
            document.getElementById("num4").innerText='4';
            document.getElementById("num5").innerText='5';

            document.getElementById("firstInput").style.display='none';
            document.getElementById("secondInput").style.display='none';
            document.getElementById("thirdInput").style.display='block';
            document.getElementById("forthInput").style.display='none';
            document.getElementById("fifthInput").style.display='none';
        })

        btnFour.on("click", function(){
            //  document.getElementsByName("aside-btn").style.fontWeight='normal';
            document.getElementById("btn-one").style.fontWeight='normal';
            document.getElementById("btn-two").style.fontWeight='normal';
            document.getElementById("btn-three").style.fontWeight='normal';
            document.getElementById("btn-four").style.fontWeight='bolder';
            document.getElementById("btn-five").style.fontWeight='normal';

            document.getElementById("num1").innerText='1';
            document.getElementById("num2").innerText='2';
            document.getElementById("num3").innerText='3';
            document.getElementById("num4").innerText='V';
            document.getElementById("num5").innerText='5';

            document.getElementById("firstInput").style.display='none';
            document.getElementById("secondInput").style.display='none';
            document.getElementById("thirdInput").style.display='none';
            document.getElementById("forthInput").style.display='block';
            document.getElementById("fifthInput").style.display='none';
        })

        btnFive.on("click", function(){
            //   document.getElementsByName("aside-btn").style.fontWeight='normal';
            document.getElementById("btn-one").style.fontWeight='normal';
            document.getElementById("btn-two").style.fontWeight='normal';
            document.getElementById("btn-three").style.fontWeight='normal';
            document.getElementById("btn-four").style.fontWeight='normal';
            document.getElementById("btn-five").style.fontWeight='bolder';

            document.getElementById("num1").innerText='1';
            document.getElementById("num2").innerText='2';
            document.getElementById("num3").innerText='3';
            document.getElementById("num4").innerText='4';
            document.getElementById("num5").innerText='V';

            document.getElementById("firstInput").style.display='none';
            document.getElementById("secondInput").style.display='none';
            document.getElementById("thirdInput").style.display='none';
            document.getElementById("forthInput").style.display='none';
            document.getElementById("fifthInput").style.display='block';
        })
    })

</script>
</html>