<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 헤더 -->
<th:block th:replace="/inc/header :: headerFragment"></th:block>
<style>
    a{text-decoration: none;
        color:black;
    }
    .ServiceInputFooterArea{
        background-color: white;
        display:flex;
        border-top : 2px solid rgb(228, 229, 237);
        height:70px;
        position: fixed;
        margin-top : 50px;
        justify-content: center;

    }
    .svcNextBtn, .serviceTempInput, .serviceFinalSubmit{
        margin-top:15px;
        background-color: white;
        border:1px solid rgb(228, 229, 237);
        width:55px; height:40px;
    }
</style>
<body>
<!--  바디  -->
<div class="totalwrap">
    <!--    <aside th:replace="/inc/leftServiceInputNav :: asideFragment"></aside>-->
    <div class="middlewrap d-flex justify-content-center w-90 h-90">
    <aside class="side-container border-end" style="width:200px;">

        <a href="#" id="btn-one" name="aside-btn" style="font-weight: bolder">
            <div class="d-flex mt-5">
                <table>
                    <tr>
                        <td id="num1" style="border: 1px solid black; width:30px; height:30px; text-align:center;">V</td>
                        <td>ㅤ기본정보</td>
                    </tr>
                </table>
            </div>
        </a>

        <a href="#" id="btn-two" name="aside-btn">
            <div class="d-flex mt-4">
                <table>
                    <tr>
                        <td id="num2"  style="border: 1px solid black; width:30px; height:30px; text-align:center;">2</td>
                        <td>ㅤ가격설정</td>
                    </tr>
                </table>
            </div>
        </a>

        <a href="#" id="btn-three" name="aside-btn">
            <div class="d-flex mt-4">
                <table>
                    <tr>
                        <td id="num3" style="border: 1px solid black; width:30px; height:30px; text-align:center;">3</td>
                        <td>ㅤ서비스 설명</td>
                    </tr>
                </table>
            </div>
        </a>

        <a href="#" id="btn-four" name="aside-btn">
            <div class="d-flex mt-4">
                <table>
                    <tr>
                        <td id="num4" style="border: 1px solid black; width:30px; height:30px; text-align:center;">4</td>
                        <td>ㅤ이미지</td>
                    </tr>
                </table>
            </div>
        </a>

        <a href="#" id="btn-five" name="aside-btn">
            <div class="d-flex mt-4">
                <table>
                    <tr>
                        <td id="num5" style="border: 1px solid black; width:30px; height:30px; text-align:center;">5</td>
                        <td>ㅤ요청사항</td>
                    </tr>
                </table>
            </div>
        </a>
    </aside>

    <div class="contents-area d-block">
        <form class="form-join" method="post" enctype="multipart/form-data">
<!--        <form class="form-join" action="#" th:action="@{/serviceReg}" method="post" enctype="multipart/form-data">-->
            <div class="form-group hiddenServiceBody">
                <input type="hidden" name="splID" value="testID"></input>
                <input type="hidden" name="serviceStatus" value="승인대기"></input>
            </div>
            <div class="firstInput" id="firstInput" style="display:block; width:90%; margin-bottom: 10%;">
                <th:block th:replace="/service/serviceInputOne :: bodyPage1"></th:block>
                <!--             <th:block layout:fragment="bodyPage1"></th:block>-->
                <!--             <section th:replace="/service/serviceInput :: bodyPage1"></section>-->
            </div>

            <div class="secondInput" id="secondInput" style="display:none; width:90%; margin-bottom: 10%;">
                <th:block th:replace="/service/serviceInputTwo :: bodyPage2"></th:block>
            </div>

            <div class="secondInput" id="thirdInput" style="display:none; width:90%; margin-bottom: 10%;">
                <th:block th:replace="/service/serviceInputThree :: bodyPage3"></th:block>
            </div>
            <div class="secondInput" id="forthInput" style="display:none; width:90%; margin-bottom: 10%;">
                <th:block th:replace="/service/serviceInputFour :: bodyPage4"></th:block>
            </div>
            <div class="secondInput" id="fifthInput" style="display:none; width:90%; margin-bottom: 10%;">
                <th:block th:replace="/service/serviceInputFive :: bodyPage5"></th:block>
            </div>
        </form>

    </div>  <!--contents-area-->
        <div class="ServiceInputFooterArea container-fluid sticky-bottom">
            <div class="emptyAside" style="width:200px;"></div>
            <div style="padding-left:850px">
                <!--<button class="serviceTempInput rounded" id="btnSave" type="submit" name="action" value="temporarySave" th:action="@{/temporarySave}">저장</button>-->
                <button class="svcNextBtn rounded" id="btnNext" type="button">다음</button>
                <button class="svcSubmitMidBtn" id="svcSubmitMidBtn" type="button" style="display:none">제출하기</button>
            </div>
        </div>
    </div> <!--middle wrap-->

</div><!--total wrap-->

<!-- 푸터 -->
</body>
<script src="/js/serviceValidation.js"></script>
<script>
    // $(document).ready(function(){
    //     $("#btnSave").click(function () {
    //         $("form").attr("action", "/service/temporarySave");
    //     });
    //     $("#serviceFinalSubmit").click(function(){
    //         $("form").attr("action", "/service/serviceReg");
    //     })
    // })
</script>

</html>