<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>

<script>


//    let imgTagSource = "";
//
//    // var imgMainBox = document.getElementById("imgMainBox");
//    // var detailImgUpload = document.getElementById("detailImgUpload");
//    // var imgUpBtn = document.getElementById("imgUpBtn");
//    // var vidUpBtn = document.getElementById("vidUpBtn");
//    // var fthTip1 = document.getElementById("fthTip1");
//    // var fthTip2 = document.getElementById("fthTip2");
//    // var fthTip3 = document.getElementById("fthTip3");
//    // var deleteIcon = document.getElementById("deleteIcon");
//    // var imgUploadBox = $(".imgUploadBox");
//    // let imgTagSource = "";
//
//    //   let vidUploadBox = $(".vidUploadBox");
//    //  let mainImgInputChk = "";
//    // var cnt = 1;
//
//    $(document).ready(function () {
//        let mainImgInputChk = "";
//        var cnt = 1;
//        var imgMainBox =  document.getElementById("imgMainBox");
//        var detailImgUpload = document.getElementById("detailImgUpload");
//        var imgUpBtn = document.getElementById("imgUpBtn");
//        var vidUpBtn = document.getElementById("vidUpBtn");
//        var fthTip1 = document.getElementById("fthTip1");
//        var fthTip2 = document.getElementById("fthTip2");
//        var fthTip3 = document.getElementById("fthTip3");
//
//        var deleteIcon = document.getElementById("deleteIcon");
//        var imgUploadBox = $(".imgUploadBox");
//        let vidUploadBox = $(".vidUploadBox");
//
//
//        //  $("#imgMainBox").on("mouseover", function(){
//
//        // $(".concealedInput").on("change", function(){
//        //
//        // });
//
//        // imgUploadBox.on("mouseover", function(){
//        $(".imgUploadBox").on("mouseover", function(){
//            var label = this.firstChild;
//            var upBtn = this.firstChild.firstChild;
//            var delBtn = this.firstChild.firstChild.nextSibling;
//            var imgInput = this.firstChild.firstChild.nextSibling.nextSibling;
//            var delARea = this.firstChild.lastChild;
//            var imgSrc = this.firstChild.lastChild.firstChild;
//            console.log("이것의 아이디 : "+this.id);
//            console.log("이것의 이름스페이스 : "+this.namespace);
//            console.log("이것의 이름 : "+this.name);
//            console.log("이것의 nodevalue : "+this.nodeValue);
//            console.log("이것의 클래스 : "+this.class);
//            console.log("이것의 클래스네임 : "+this.className);
//
//            //  this.firstChild.lastChild.style.display='none';
//            //   console.log("이것의 이름 : " + this.name);
//            //   console.log("이것의 노드이름 : " + this.nodeName);
//            //   console.log("이미지 태그 길이 : "+imgTagSource.length);
//            //console.log("this.firstChild.lastChild 의 이름 : "+this.firstChild.lastChild.name);
//            // console.log("this.firstChild 의 이름 : "+this.firstChild.name);
//            // console.log("this.firstChild 의 노드이름 : "+this.firstChild.nodeName);
//            // console.log("this.firstChild 의 클래스이름 : "+this.firstChild.className);
//            // console.log("this.firstChild의 lastChild 의 node이름 : "+this.firstChild.lastChild.nodeName);
//
//
//            if(imgTagSource.length<100 && this.id==="imgMainBox"){
//                console.log("메인 이미지 없음")
//                imgSrc.style.display='none';
//                upBtn.style.display='block';
//                this.style.border='3px solid rgb(250, 250, 250)';
//            }
//
//            if(imgTagSource.length>100 && this.id==="imgMainBox"){
//                console.log("메인 이미지 있음")
//                console.log("메인이미지 온마우스오버 이미지태그소스 : "+imgTagSource);
//                imgSrc.style.display='block';
//                delBtn.style.display='block';
//            }
//            if(this.id!="imgMainBox"){
//
//            }
//
//            fthTip1.style.display='block';
//            fthTip2.style.display='none';
//            fthTip3.style.display='none';
//        });
//
//        imgUploadBox.on("mouseout", function(){
//            var label = this.firstChild;
//            var upBtn = this.firstChild.firstChild;
//            var delBtn = this.firstChild.firstChild.nextSibling;
//            var imgInput = this.firstChild.firstChild.nextSibling.nextSibling;
//            var delARea = this.firstChild.lastChild;
//            var imgSrc = this.firstChild.lastChild.firstChild;
//
//            //    this.firstChild.lastChild.style.display='block';
//            this.style.border='1px solid white';
//            imgSrc.style.display='block';
//            upBtn.style.display='none';
//            delBtn.style.display='none';
//        });
//
//        detailImgUpload.addEventListener("mouseover", function(){
//            fthTip1.style.display='none';
//            fthTip2.style.display='block';
//            fthTip3.style.display='none';
//        });
//
//        vidUpBtn.addEventListener("mouseover", function(){
//            fthTip1.style.display='none';
//            fthTip2.style.display='none';
//            fthTip3.style.display='block';
//        });
//
//    });
//
//    // imgMainBox.addEventListener("mouseover", function(){
//    //     // console.log("imgMainBox이름 : "+imgMainBox.name);
//    //     // console.log("imgMainBox의 노드이름 : "+imgMainBox.nodeName);
//    //     // console.log("first name"+imgMainBox.firstChild.name);
//    //     // console.log("first node name"+imgMainBox.firstChild.nodeName);
//    //     // console.log("last name"+imgMainBox.lastChild.name);
//    //     // console.log("last node name"+imgMainBox.lastChild.nodeName);
//    //     console.log("이미지 태그 길이 : "+imgTagSource.length);
//    //
//    //     if(imgTagSource.length<100){
//    //         console.log("이미지 없음")
//    //         imgMainBox.firstChild.lastChild.style.display='none';
//    //         imgUpBtn.style.display='block';
//    //         imgMainBox.style.border='3px solid rgb(250, 250, 250)';
//    //     }
//    //
//    //     if(imgTagSource.length>100){
//    //         console.log("이미지 있음")
//    //         deleteIcon.style.display='block';
//    //     }
//    //
//    //
//    //     fthTip1.style.display='block';
//    //     fthTip2.style.display='none';
//    //     fthTip3.style.display='none';
//    // });
//
//    // imgMainBox.addEventListener("mouseout", function(){
//    //     imgMainBox.firstChild.lastChild.style.display='block';
//    //     imgMainBox.style.border='1px solid white';
//    //     imgUpBtn.style.display='none';
//    //     deleteIcon.style.display='none';
//    // });
//    //
//    // detailImgUpload.addEventListener("mouseover", function(){
//    //     fthTip1.style.display='none';
//    //     fthTip2.style.display='block';
//    //     fthTip3.style.display='none';
//    // });
//    //
//    // vidUpBtn.addEventListener("mouseover", function(){
//    //     fthTip1.style.display='none';
//    //     fthTip2.style.display='none';
//    //     fthTip3.style.display='block';
//    // });
//
//
//
//
//    // function mainImgOver(mainOn) {
//    //     console.log("이미지 태그 길이 : " + imgTagSource.length);
//    //
//    //     if (imgTagSource.length < 100) {
//    //         console.log("이미지 없음")
//    //         mainOn.firstChild.lastChild.style.display = 'none';
//    //         mainOn.firstChild.firstChild.style.display = 'block';
//    //         mainOn.style.border = '3px solid rgb(250, 250, 250)';
//    //     }
//    //
//    //     if (imgTagSource.length > 100) {
//    //         console.log("이미지 있음")
//    //         mainOn.firstChild.lastChild.style.display = 'block';
//    //     }
//    //
//    //     document.getElementById("fthTip1").style.display = 'block';
//    //     document.getElementById("fthTip2").style.display = 'none';
//    //     document.getElementById("fthTip3").style.display = 'none';r
//    // }
//    //
//    // function mainImgOut(mainOut) {
//    //     mainOut.firstChild.lastChild.style.display = 'block';
//    //     mainOut.style.border = '1px solid white';
//    //     mainOut.firstChild.firstChild.style.display = 'none';
//    //     mainOut.firstChild.lastChild.style.display = 'none';
//    // }
//
//
//    function fileAppend() {
//
//        cnt++;
//
//        var appendedDetailImg = '<label class="cardLabel">'
//            + '<input type="file" class="concealedInput" name="file' + cnt + '" style="display:none" onchange="previewImg(this)">'
//            + '<img src="/imgs/imageupload2.png" style="width:251px; height:186px;">'
//            + '</label>';
//
//        if (cnt < 4) {
//            $("#imgCardSec1").append(appendedDetailImg);
//        }
//        if (cnt > 3 && cnt < 7) {
//            $("#imgCardSec2").append(appendedDetailImg);
//        }
//        if (cnt > 6 && cnt < 10) {
//            $("#imgCardSec3").append(appendedDetailImg);
//        }
//
//    }
//
//    function previewImg(pic) {
//        console.log("pic의 이름 : " + pic.name)
//        console.log("pic : " + pic);
//        console.log("pic의 노드네임 : " + pic.nodeName);
//        console.log("pic의 sibling의 nodeName : " + pic.nextSibling.firstChild.nodeName);
//        // console.log("sibling의 시블링의 노드네임 : "+pic.nextSibling.nextSibling.nodeName);
//        console.log("pic.files : " + pic.files);
//        // if (pic.name == "mainImg") {
//        //     pic.nextSibling.firstChild.height = 251;
//        //     pic.nextSibling.width = 186;
//        // }
//        var imgTag = pic.nextSibling.firstChild;  //
//
//        // fileAppend();
//
//        if (pic.files && pic.files[0]) {
//            // filereader = 자바스크립트 라이브러리 객체
//            var fileReader = new FileReader();
//            //onload = 불러오기 성공시 발동하는 이벤트	/  매개변수 e를 쓰는 익명함수
//            fileReader.onload = function (e) {
//                imgTag.height = 251;
//                imgTag.width = 186;
//                // 이벤트가 발생한 객체의 결과값 = 사진파일을 가져옴
//                imgTag.src = e.target.result;
//                if (pic.name == "mainImg") {
//                    imgTagSource = imgTag.src;
//                    console.log("이미지태그소스 입력완료!!!")
//                    console.log("이미지태그소스의 길이 : "+imgTagSource.length);
//
//                    // console.log("imgTag.src : "+imgTag.src);
//                    // console.log("imgTagSource : "+imgTagSource);
//                    // console.log("imgTagSource의 길이는? : "+imgTagSource.length);
//                    document.getElementById("imgMainBox").style.border = '1px solid white';
//                    document.getElementById("mainImgAlert").style.display = 'none';
//                    mainImgInputChk = "true"; }
//
//                if (pic.name != "mainImg") {fileAppend(); }
//            }
//            fileReader.readAsDataURL(pic.files[0]);
//            // 파일의 종류는 크게 2가지
//            //1. 바이너리 파일 : 데이터를 있는 그대로 읽고 쓰는 파일
//            //2. 텍스트 파일 : 데이터를 문자로 변환한 파일
//            // base64는 6비트 기반 이걸 8비트(아스키코드) 기반 텍스트로 손실없이 안전하게 인코딩함.
//            // 바이너리 데이터의 훼손없이 정확하게 데이터를 전달할 수 있다.
//
//            //불러온 바이너리 파일을 http 메시지 규격에 맞는 base64 형식으로 변환
//
//        }
//
//    };
//
//    function fileRemove(here) {
//        console.log("삭제 다음 형제의 이름" + here.nextSibling.nextSibling.name);
//        console.log("삭제 다음 형제의 노드이름" + here.nextSibling.nextSibling.nodeName);
//        here.nextSibling.nextSibling.disabled = true;
//        $("#deleteHere").empty();
//        $("#deleteHere").append('<img src="/imgs/imageupload2.png" style="width:251px; height:186px;">');
//        console.log("이미지 존재여부 : " + here.nextSibling.nextSibling.src);
//        here.nextSibling.nextSibling.src = "";
//        imgTagSource = "";
//        mainImgInputChk = "false";
//        here.nextSibling.nextSibling.disabled = false;
//    }
//
//
//    // $(document).ready(function () {
//    //     var imgMainBox =  document.getElementById("imgMainBox");
//    //     var detailImgUpload = document.getElementById("detailImgUpload");
//    //     var imgUpBtn = document.getElementById("imgUpBtn");
//    //     var vidUpBtn = document.getElementById("vidUpBtn");
//    //     var fthTip1 = document.getElementById("fthTip1");
//    //     var fthTip2 = document.getElementById("fthTip2");
//    //     var fthTip3 = document.getElementById("fthTip3");
//    //     var deleteIcon = document.getElementById("deleteIcon");
//    //
//    //     //  $("#imgMainBox").on("mouseover", function(){
//    //
//    //     // $(".concealedInput").on("change", function(){
//    //     //
//    //     // });
//    //
//    //
//    //
//    //     imgMainBox.addEventListener("mouseover", function(){
//    //         // console.log("imgMainBox이름 : "+imgMainBox.name);
//    //         // console.log("imgMainBox의 노드이름 : "+imgMainBox.nodeName);
//    //         // console.log("first name"+imgMainBox.firstChild.name);
//    //         // console.log("first node name"+imgMainBox.firstChild.nodeName);
//    //         // console.log("last name"+imgMainBox.lastChild.name);
//    //         // console.log("last node name"+imgMainBox.lastChild.nodeName);
//    //         console.log("이미지 태그 길이 : "+imgTagSource.length);
//    //
//    //         if(imgTagSource.length<100){
//    //             console.log("이미지 없음")
//    //             imgMainBox.firstChild.lastChild.style.display='none';
//    //             imgUpBtn.style.display='block';
//    //             imgMainBox.style.border='3px solid rgb(250, 250, 250)';
//    //         }
//    //
//    //         if(imgTagSource.length>100){
//    //             console.log("이미지 있음")
//    //             deleteIcon.style.display='block';
//    //         }
//    //
//    //
//    //         fthTip1.style.display='block';
//    //         fthTip2.style.display='none';
//    //         fthTip3.style.display='none';
//    //     });
//    //
//    //     imgMainBox.addEventListener("mouseout", function(){
//    //         imgMainBox.firstChild.lastChild.style.display='block';
//    //         imgMainBox.style.border='1px solid white';
//    //         imgUpBtn.style.display='none';
//    //         deleteIcon.style.display='none';
//    //     });
//    //
//    //     detailImgUpload.addEventListener("mouseover", function(){
//    //         fthTip1.style.display='none';
//    //         fthTip2.style.display='block';
//    //         fthTip3.style.display='none';
//    //     });
//    //
//    //     vidUpBtn.addEventListener("mouseover", function(){
//    //         fthTip1.style.display='none';
//    //         fthTip2.style.display='none';
//    //         fthTip3.style.display='block';
//    //     });
//    //
//    //
//    // })
//
//
//
//
//    // function fileAppend(){
//    //     if(cnt%3 == 0) {
//    //         console.log("카드 돌아감 현재 cnt : "+cnt)
//    //         var appendedDetailImg = '</div><div class="detailImgCard">'
//    //         + '<label class="cardLabel"><div class="imgUploadBox">'
//    //         + '<input type="file" class="concealedInput" name="file'+cnt+'" style="display:none" onchange="previewImg(this)">'
//    //         + '<img src="/imgs/imageupload2.png" style="width:88px; height:64px;">'
//    //         + '</div></label>';
//    //         $(".detailImgCard").append(appendedDetailImg);
//    //         cnt++;
//    //         console.log("cnt : "+cnt);
//    //     }else{
//    //         console.log("카드 안돌아감 현재 cnt : "+cnt)
//    //         var appendedDetailImg = '<label class="cardLabel"><div class="imgUploadBox">'
//    //             + '<input type="file" class="concealedInput" name="file'+cnt+'" style="display:none" onchange="previewImg(this)">'
//    //             + '<img src="/imgs/imageupload2.png" style="width:88px; height:64px;">'
//    //             + '</div></label>';
//    //         $(".detailImgCard").append(appendedDetailImg);
//    //         cnt++;
//    //         console.log("cnt : "+cnt);
//    //     }
//    // }
//
//    // function fileAppend(){
//    //
//    //     cnt++;
//    // if(cnt > 0 && cnt%3 === 0) {
//    //     console.log("새로운 라인 cnt : "+cnt)
//    //     var appendedDetailImg = '닫혀라 좀'
//    //         + '</div>닫히는 구간 <div class="detailImgCard" style="border:3px solid red">닫고 열음'
//    //         + '<label class="cardLabel">'
//    //         + '<input type="file" class="concealedInput" name="file'+cnt+'" style="display:none" onchange="previewImg(this)">'
//    //         + '<img src="/imgs/imageupload2.png" style="width:251px; height:186px;">'
//    //         + '</label> 나눠서 넣은 첫번째';
//    //     $(".detailImgCard").append(appendedDetailImg);
//    //
//    //     console.log("cnt : "+cnt);
//    // }
//    // else{
//    //     console.log("동일 라인 현재 cnt : "+cnt)
//    //     var appendedDetailImg = '<label class="cardLabel">'
//    //         + '<input type="file" class="concealedInput" name="file'+cnt+'" style="display:none" onchange="previewImg(this)">'
//    //         + '<img src="/imgs/imageupload2.png" style="width:251px; height:186px;">'
//    //         + '</label>';
//    //     $(".detailImgCard").append(appendedDetailImg);
//    //
//    //     console.log("cnt : "+cnt);
//    // }
</script>


</html>