<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link href="/css/category.css" rel="stylesheet"/>
<link href="/css/adminLog.css" rel="stylesheet"/>

<!-- 헤더 -->
<th:block th:replace="inc/adminHeader :: adHeaderFragment"></th:block>
<div class="body">
    <div class="container">
        <div class="searchbar">
            <h2>기록 관리</h2>
            <div class="searchbox">
                <form action="">
                    <input type="search" placeholder="아이디" class="search">
                    <input type="submit" value="검색" class="search"/>
                    <select class="search">
                        <option value="tranceTime">최근 접속</option>
                    </select>
                    <select class="search">
                        <option value="asc">오름차순</option>
                        <option value="desc">내림차순</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="main">
            <div class="aside">
                <input type="button" value="거래 기록" onclick="location.href='/admin/transactionLog'"/>
                <input type="button" value="접속 기록" onclick="location.href='/admin/signLog'"/>
            </div>
            <div class="section">
                1/10
                <table class="table">
                    <thead>
                        <tr class="thead">
                            <th>아이디</th>
                            <th>가입일</th>
                            <th>기록 시간</th>
                            <th>로그인/로그아웃</th>
                        </tr>
                    </thead>
                    <tr>
                        <td><button class="view" onclick="userView()">User Id</button></td>
                        <td>2023.10.23</td>
                        <td>2023.10.23 00:00:00</td>
                        <td>로그인</td>
                    </tr>
                    <tr>
                        <td><button class="view" onclick="userView()">User Id</button></td>
                        <td>2023.10.23</td>
                        <td>2023.10.24 00:00:00</td>
                        <td>로그아웃</td>
                    </tr>
                    <tr>
                        <td><button class="view" onclick="userView()">User Id</button></td>
                        <td>2023.10.23</td>
                        <td>2023.10.25 00:00:00</td>
                        <td>로그인</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="inc/adminFooter :: adFooterFragment"></th:block>
</body>
</html>
<script src="http://code.jquery.com/jquery-latest.js"></script>
</html>
