<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link href="/css/adminLog.css" rel="stylesheet"/>

<!-- 헤더 -->
<th:block th:replace="inc/adminHeader :: adHeaderFragment"></th:block>
<div class="body">
    <div class="container">
        <div class="searchbar">
            <h2>기록 관리</h2>
            <div class="searchbox">
                <form id="form-transac" action="">
                    <input id="id" type="search" placeholder="아이디" class="search">
                    <input type="button" value="검색" class="search" th:onclick="pageMoveT(1)"/>
                    <select class="search" id="by" th:onchange="pageMoveT(1)">
                        <option value="transactionId">거래 아이디 순</option>
                        <option value="transactionTransTime">거래 시간 순</option>
                        <option value="transactionPrice">거래 금액 순</option>
                    </select>
                    <select class="search" id="ud" th:onchange="pageMoveT(1)">
                        <option value="asc">오름차순</option>
                        <option value="desc">내림차순</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="main">
            <div class="aside">
                <input type="button" value="거래 기록" onclick="location.href='/admin/transactionLog'"/>
                <input type="button" value="접속 기록" onclick="location.href='/admin/signLog'"/>
            </div>
            <div class="section">
                <table class="table">
                    <thead>
                        <tr class="thead">
                            <th>거래 아이디</th>
                            <th>구매자 아이디</th>
                            <th>판매자 아이디</th>
                            <th>서비스</th>
                            <th>거래 금액</th>
                            <th>거래 일시</th>
                            <th>취소/승인</th>
                        </tr>
                    </thead>
                    <tr th:each="trlog : ${transactionList}">
                        <td th:text="${trlog.transactionId}">username</td>
                        <td><button th:text="${trlog.transactionBuyerId}" class="view" th:onclick="userView([[${trlog.transactionBuyerId}]])"></button></td>
                        <td><button th:text="${trlog.transactionSellerId}" class="view" th:onclick="userView([[${trlog.transactionSellerId}]])"></button></td>
                        <td><button class="view" onclick="serviceView()">상세보기</button></td>
                        <td th:text="${trlog.transactionPrice}">0</td>
                        <td th:text="${trlog.transactionTransTime}">0</td>
                        <td th:text="${trlog.transactionKind}">0</td>
                    </tr>
                </table>
                <div class="paging">
                    <input class="edge" type="button" th:onclick="pageMoveT(1)" value="처음">
                    <input class="move" type="button" th:onclick="pageMoveT([[${LogPage.prevPage}]])" value="<">

                    <th:block  th:with="start = ${LogPage.startPage}, end = ${LogPage.endPage}">
                        <input class="btn" th:with="start = ${LogPage.startPage}, end = ${LogPage.endPage}"
                               th:each="pageButton : ${#numbers.sequence(start, end)}"
                        type="button" th:onclick="pageMoveT([[${pageButton}]])" th:value=${pageButton}>
                    </th:block>

                    <input class="move" type="button" th:onclick="pageMoveT([[${LogPage.nextPage}]])" value=">">
                    <input class="edge" type="button" th:onclick="pageMoveT([[${LogPage.pageTotalNum}]])" value="마지막">
                </div>

            </div>
        </div>
    </div>
</div>
<div id="Modal2" class="modal">
    <div class="modal-content">
        <span class="close2" onclick="span2()">&times;</span>
        <table>
            <tr>
                <td>이름</td>
                <td id="name2">이름</td>
            </tr>
            <tr>
                <td>아이디</td>
                <td id="id2">아이디</td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td id="pw2">비밀번호</td>
            </tr>
            <tr>
                <td>별명</td>
                <td id="nick2">별명</td>
            </tr>
            <tr>
                <td>이메일</td>
                <td id="email2">이메일</td>
            </tr>
            <tr>
                <td>생년월일</td>
                <td id="bir2">생년월일</td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td id="tel2">전화번호</td>
            </tr>
            <tr>
                <td>직업</td>
                <td id="job2">직업</td>
            </tr>
            <tr>
                <td>가입일</td>
                <td id="reg2">가입일</td>
            </tr>
        </table>
    </div>
</div>
<th:block th:replace="inc/adminFooter :: adFooterFragment"></th:block>
</body>
</html>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/adminLog.js"></script>
<script>
window.onload = () => {
    document.getElementById("id").value = "[[${id}]]";
    document.getElementById("by").value = "[[${by}]]";
    document.getElementById("ud").value = "[[${ud}]]";
}
</script>
</html>
