<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 홈</title>
    <link rel="stylesheet" href="/css/adminMain.css">
</head>
<body>
<header>
    <div class="header">
        관리자 페이지
    </div>
    <nav>
        <div>
            <a href="/menu/home.html">관리자 홈</a>
            <a href="/menu/category.html">카테고리 관리</a>
            <a href="/menu/user.html">유저 관리</a>
            <a href="/menu/service.html">서비스 관리</a>
            <a href="/menu/project.html">프로젝트 관리</a>
            <a href="/menu/board.html">게시판 수정</a>
            <a href="/menu/transactionLog.html">거래 로그</a>
            <a href="/menu/statistics.html">통계 관리</a>
        </div>
    </nav>
</header>
<div class="body">
    <div class="container">
        <div class="searchbar">
            <h2>홈</h2>
        </div>
        <div class="main">
            <div class="aside">
                <a href="category.html">카테고리 관리</a>
                <a href="">유저 관리</a>
                <a href="">서비스 관리</a>
                <a href="">프로젝트 관리</a>
                <a href="">게시판 수정</a>
                <a href="">거래 로그</a>
                <a href="">통계 관리</a>
            </div>
            <div class="section">section</div>
        </div>
    </div>
</div>
<footer>
    footer
</footer>
</body>
</html>