<!DOCTYPE html>
<html lang="en">
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link href="/css/admin.css" rel="stylesheet"/>
<!-- 헤더 -->
<th:block th:replace="inc/adminHeader :: adHeaderFragment"></th:block>

<div class="body">
    <div class="container">
        <div class="searchbar">
            <form action="">
                <label for="">유저 검색 : </label>
                <input type="search" id="" name="">
                <button type="submit">검색</button>
                <select>
                    <option value="">최근 접속일 순</option>
                    <option value="">마지막 접속일 순</option>
                </select>
            </form>
        </div>
        <div class="main">
            <div class="aside">
                <h3>회원 관리</h3>
                <div class="table1">
                    <table>
                        <button class="update" onclick="update()">업데이트</button>
                        <button class="cancle" onclick="cancle()">취소</button>
                        <thead>
                        <tr>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" id="test1" name="">
                                <label for="test1">회원명 : 사유</label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="section">
                <table class="table2">
                    <thead>
                    <tr class="thead">
                        <th>이름</th>
                        <th>아이디</th>
                        <th>닉네임</th>
                        <th>전화번호</th>
                        <th>변경</th>
                        <th>최근 기록</th>
                        <th>정보</th>
                        <th>삭제</th>
                    </tr>
                    </thead>
                    <th:block th:each="user : ${userLists}">
                    <tr>
                        <td th:text="${user.userName}">이름</td>
                        <td th:text="${user.userId}">아이디</td>
                        <td th:text="${user.userNickname}">닉네임</td>
                        <td th:text="${user.userTel}">전화번호</td>
<!--                        <td><button class="change" th:onclick="btn1([[${user.userId}]])">변경</button></td>-->
                        <td><button class="change" th:onclick="btn1([[${user.userId}]])">변경</button></td>
                        <td>최근 기록</td>
                        <td><button class="data" onclick="btn2()">정보 확인</button></td>
                        <td><button class="delete" onclick="btn3()">삭제</button></td>
                    </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Modal 1 -->
<div id="Modal1" class="modal">
    <div class="modal-content">
        <span class="close1" onclick="span1()">&times;</span>
        <table>
            <tr>
                <td>이름</td>
                <td><input type="text" placeholder="이름" id="name"></td>
            </tr>
            <tr>
                <td>아이디</td>
                <td><input type="text" placeholder="아이디"></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="text" placeholder="비밀번호"></td>
            </tr>
            <tr>
                <td>별명</td>
                <td><input type="text" placeholder="별명"></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="text" placeholder="이메일"></td>
            </tr>
            <tr>
                <td>생년월일</td>
                <td><input type="date" name=""
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31"></td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td><input type="text" placeholder="전화번호"></td>
            </tr>
            <tr>
                <td>직업</td>
                <td><input type="text" placeholder="직업"></td>
            </tr>
            <tr>
                <td>가입일</td>
                <td><input type="date" name=""
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31"></td>
            </tr>
        </table>
        <button class="modify" onclick="modify1()">변경 완료</button>
    </div>
</div>

<!-- Modal 2 -->
<div id="Modal2" class="modal">
    <div class="modal-content">
        <span class="close2" onclick="span2()">&times;</span>
        <table>
            <tr>
                <td>이름</td>
                <td>이름</td>
            </tr>
            <tr>
                <td>아이디</td>
                <td>아이디</td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td>비밀번호</td>
            </tr>
            <tr>
                <td>별명</td>
                <td>별명</td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>이메일</td>
            </tr>
            <tr>
                <td>생년월일</td>
                <td>생년월일</td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td>전화번호</td>
            </tr>
            <tr>
                <td>직업</td>
                <td>직업</td>
            </tr>
            <tr>
                <td>가입일</td>
                <td>가입일</td>
            </tr>
        </table>
    </div>
</div>

<div id="Modal3" class="modal">
    <div class="modal-content">
        <span class="close2" onclick="span3()">&times;</span>
        <table>
            <tr>
                <td>삭제 사유 : </td>
                <td><input type="text" placeholder="삭제 사유"></td>
            </tr>
        </table>
        <button class="modify" onclick="modify2()">변경 완료</button>
    </div>
</div>

<script src="/js/modal.js"></script>

<th:block th:replace="inc/adminFooter :: adFooterFragment"></th:block>
</body>

</html>