<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link href="/css/adminLog.css" rel="stylesheet"/>

<!-- 헤더 -->
<th:block th:replace="inc/adminHeader :: adHeaderFragment"></th:block>
<div class="body">
    <div class="container">
        <div class="searchbar">
            <h2>접속 관리</h2>
            <div class="searchbox">
                <form id="form-transac" action="">
                    <input id="id" type="search" placeholder="아이디" class="search">
                    <input type="button" value="검색" class="search" th:onclick="pageMoveS(1)"/>
                    <select class="search" id="by" th:onchange="pageMoveS(1)">
                        <option value="signLogTime">최근 접속 순</option>
                    </select>
                    <select class="search" id="ud" th:onchange="pageMoveS(1)">
                        <option value="asc">오름차순</option>
                        <option value="desc">내림차순</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="main">
            <div class="aside">
                <input type="button" value="거래 기록" onclick="location.href='/admin/signLog'"/>
                <input type="button" value="접속 기록" onclick="location.href='/admin/signLog'"/>
            </div>
            <div class="section">
                <table class="table">
                    <thead>
                    <tr class="thead">
                        <th>로그아이디</th>
                        <th>아이디</th>
                        <th>가입일</th>
                        <th>기록 시간</th>
                        <th>로그인/로그아웃</th>
                    </tr>
                    </thead>
                    <tr th:each="slog : ${signList}">
                        <td th:text="${slog.signId}">0</td>
                        <td><button th:text="${slog.signUserId}" class="view" onclick="userView()"></button></td>
                        <td th:text="${slog.signRegDate}">0</td>
                        <td th:text="${slog.signLogTime}">0</td>
                        <td th:text="${slog.signKind}">0</td>
                    </tr>
                </table>
                <div class="paging">
                    <input class="edge" type="button" th:onclick="pageMoveS(1)" value="처음">
                    <input class="move" type="button" th:onclick="pageMoveS([[${LogPage.prevPage}]])" value="<">

                    <th:block  th:with="start = ${LogPage.startPage}, end = ${LogPage.endPage}">
                        <input class="btn" th:with="start = ${LogPage.startPage}, end = ${LogPage.endPage}"
                               th:each="pageButton : ${#numbers.sequence(start, end)}"
                               type="button" th:onclick="pageMoveS([[${pageButton}]])" th:value=${pageButton}>
                    </th:block>

                    <input class="move" type="button" th:onclick="pageMoveS([[${LogPage.nextPage}]])" value=">">
                    <input class="edge" type="button" th:onclick="pageMoveS([[${LogPage.pageTotalNum}]])" value="마지막">
                </div>

            </div>
        </div>
    </div>
</div>
<th:block th:replace="inc/adminFooter :: adFooterFragment"></th:block>
</body>
</html>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/adminLog.js"></script>
<script>
    window.onload = () => {
        document.getElementById("id").value = "[[${id}]]";
        document.getElementById("by").value = "[[${by}]]";
        document.getElementById("ud").value = "[[${ud}]]";
    }
</script>
</html>
