<!DOCTYPE html>
<html lang="en">
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link href="/css/admin.css" rel="stylesheet"/>

<!-- 헤더 -->
<th:block th:replace="inc/adminHeader :: adHeaderFragment"></th:block>

<div class="body">
  <div class="container">
    <div class="searchbar">
      <form action="">
        <label for="">프로젝트 검색 : </label>
        <input type="search" id="" name="">
        <button type="submit">검색</button>
        <select>
          <option value="">최신순</option>
          <option value="">오래된 순</option>
        </select>
      </form>
    </div>
    <div class="main">
      <div class="aside">
        <h3>프로젝트 관리</h3>
        <div class="table1">
          <table>
            <button class="update">업데이트</button>
            <button class="cancell">취소</button>
            <thead>
            <tr>
              <th>승인</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <input type="checkbox" id="test" name="">
                <label for="test">프로젝트 명</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" id="test" name="">
                <label for="test">프로젝트 명</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" id="test" name="">
                <label for="test">프로젝트 명</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" id="test" name="">
                <label for="test">프로젝트 명</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" id="test" name="">
                <label for="test">프로젝트 명</label>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="table1">
          <table>
            <button class="update">업데이트</button>
            <button class="cancell">취소</button>
            <thead>
            <tr>
              <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><input type="checkbox" id="test" name="">
                <label for="test">프로젝트 명 : 사유</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" id="test" name="">
                <label for="test">프로젝트 명 : 사유</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" id="test" name="">
                <label for="test">프로젝트 명 : 사유</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" id="test" name="">
                <label for="test">프로젝트 명 : 사유</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" id="test" name="">
                <label for="test">프로젝트 명 : 사유</label>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="section">
        <table class="table2">
          <thead>
          <tr class="thead">
            <th>서비스 명</th>
            <th>판매자</th>
            <th>아이디</th>
            <th>전화번호</th>
            <th>변경</th>
            <th>최근 기록</th>
            <th>정보</th>
            <th>삭제</th>
            <th>승인</th>
          </tr>
          </thead>
          <tr>
            <td>서비스 명</td>
            <td>판매자</td>
            <td>아이디</td>
            <td>전화번호</td>
            <td><button class="change">변경</button></td>
            <td>최근 기록</td>
            <td><button class="data">정보 확인</button></td>
            <td><button class="delete">삭제</button></td>
            <td><button class="admission">승인</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<th:block th:replace="inc/adminFooter :: adFooterFragment"></th:block>
</body>
</html>