<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="asideFragment">
    <style>
        aside{
            background-color: white;
        }

        aside > a{
            text-decoration: none;
            color:black;
            border:0;
            background-color: white;
        }

        aside > table{
            background-color: white;
        }

        }
    </style>

<aside class="side-container border-end" style="background-color: white">
    <a href="#"><div class="d-flex mt-5" style="background-color: white">
        <table class="me-5" style="background-color: white">
        <tr>
            <td style="border: 1px solid black; width:30px; height:30px; text-align:center;">1</td>
            <td>ㅤ기본정보</td>
        </tr>
        </table>
    </div></a>
    <a href="#"><div class="d-flex mt-4">
        <table class="me-5">
            <tr>
                <td style="border: 1px solid black; width:30px; height:30px; text-align:center;">2</td>
                <td>ㅤ가격설정</td>
            </tr>
        </table>
    </div></a><a href="#">
    <div class="d-flex mt-4">
        <table class="me-5">
            <tr>
                <td style="border: 1px solid black; width:30px; height:30px; text-align:center;">3</td>
                <td>ㅤ서비스 설명</td>
            </tr>
        </table>
    </div></a><a href="#">
    <div class="d-flex mt-4">
        <table class="me-5">
            <tr>
                <td style="border: 1px solid black; width:30px; height:30px; text-align:center;">4</td>
                <td>ㅤ이미지</td>
            </tr>
        </table>
    </div></a><a href="#">
    <div class="d-flex mt-4">
        <table class="me-5">
            <tr>
                <td style="border: 1px solid black; width:30px; height:30px; text-align:center;">5</td>
                <td>ㅤ요청사항</td>
            </tr>
        </table>
    </div></a>

</aside>
</th:block>
</html>