<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- 별칭 설정  -->
        <typeAlias type="com.kmong.kmongdemo.domain.ServiceCategoryDTO" alias="categoryDTO"/>

        <typeAlias type="com.kmong.kmongdemo.domain.UserDTO" alias="UserDTO"/>
        <typeAlias type="com.kmong.kmongdemo.domain.JobDTO" alias="JobDTO"/>
        <typeAlias type="com.kmong.kmongdemo.domain.ServiceTypeDTO" alias="stDTO"/>
        <typeAlias type="com.kmong.kmongdemo.domain.ServiceDTO" alias="serviceDTO"/>


    </typeAliases>
</configuration>