<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/joinClient.css">
</head>
<body>
<div class="container">
    <a href="/home" class="logo">
        <img src="/imgs/kmong.svg" width="85px" height="26px" alt class="img">
    </a>

    <div class="main">
        <form>
            <h1>딱 이것만 체크하면 가입완료!</h1>

            <div class="join">
                <div class="txt">
                    아이디
                </div>
                <div class="input">
                    <input class="txtBox" onkeyup="idCheck()" type="Id" placeholder="아이디를 입력해주세요." name="Id" autocomplete="Id">
                </div>
            </div>
            <p id="chkMsg" class="mb-2"></p>

            <input type="hidden" id="isIdChk" value="no"/>

            <div class="joinPw">
                <div class="txt">
                    비밀번호
                </div>
                <div class="input">
                    <input class="txtBox" type="password"  onkeyup="pwCheck()" placeholder="비밀번호를 입력해주세요.(8자리 이상)" name="password" autocomplete="password">
                </div>
            </div>

            <div class="join">
                <div class="txt">
                    이름
                </div>
                <div class="input">
                    <input class="txtBox" type="name" placeholder="이름을 입력해주세요." name="name" autocomplete="name">
                </div>
            </div>

            <div class="join">
                <div class="txt">
                    별명
                </div>
                <div class="input">
                    <input class="txtBox" type="nickname" placeholder="별명을 입력해주세요." name="nickname" autocomplete="nuckname">
                </div>
            </div>

            <div class="join">
                <div class="txt">
                    이메일
                </div>
                <div class="input">
                    <input class="txtBox" type="email" placeholder="이메일을 입력해주세요." name="email" autocomplete="email">
                </div>
                <input type="button" onclick="emailCheck()" class="checkEmail"   value="인증하기">
            </div>
            <!-- 이메일 인증코드 확인하기 -->
            <div class="row" id="confirmEmail">

            </div>

            <div class="join">
                <div class="txt">
                    전화번호
                </div>
                <div class="input">
                    <input class="txtBox" type="tek" placeholder="전화번호를 입력해주세요." name="tel" autocomplete="tel">
                </div>
            </div>

            <div class="join">
                <div class="txt">
                    직업
                </div>
                <div class="jobBox">
                    <select class="content" name="jobName" id="jobName" onchange="doChange(this)">
                        <option value="" selected disabled>직업을 선택해주세요</option>

                        <th:block th:each="job : ${jobList}">
                            <option th:value="${job.jobId}" th:text="${job.jobName}"></option>
                        </th:block>
                    </select>

                </div>
            </div>

            <!-- 동의 -->
            <div class="agreements">
                <form action="/" method="POST" id="form__wrap">
                    <div class="allagree">
                        <label>
                            <input type="checkbox" id="chkall" onclick="checkAll()">
                            <span class="agreeCheck" style="cursor: pointer;">모두 동의합니다</span>
                        </label>
                    </div>
                    <div class="agree">
                        <div class="agreeContent">
                            <label>
                                <input type="checkbox" name="chk" id="age" value="age" required onclick="checkRequiredChoice()"/>
                                <span class="agreeCheck" style="cursor: pointer;">만 14세 이상입니다.</span>
                                <span style="color: rgb(255, 114, 98); ">(필수)</span>
                            </label>
                        </div>
                        <div class="agreeContent">
                            <input type="checkbox" name="chk" id="termsOfService" value="termsOfService" required onclick="checkRequiredChoice()" />
                            <label style="cursor: pointer;">
                                <a href="#" style="color: rgb(114, 117, 133);">서비스 이용약관</a>
                                에동의합니다
                            </label>
                            <span style="color: rgb(255, 114, 98);">(필수)</span>
                        </div>
                        <div class="agreeContent">
                            <input type="checkbox" name="chk" id="privacyPolicy" value="privacyPolicy" required onclick="checkRequiredChoice()"/>
                            <label style="cursor: pointer;">
                                <a href="#" style="color: rgb(114, 117, 133);">개인정보 수집/이용</a>
                                에동의합니다
                            </label>
                            <span style="color: rgb(255, 114, 98);">(필수)</span>
                            <div class="agreeContent">
                                <input type="checkbox" name="chk" id="allowPromotions" value="allowPromotions" required />
                                <label style="cursor: pointer;" >
                                    <a href="#" style="color: rgb(114, 117, 133);">마케팅 수신・홍보 목적의 개인정보 수집 및 이용</a>
                                    에 동의합니다. (선택)
                                </label>

                                <div class="agreeContent">
                                    <label>
                                        <input type="checkbox" name="chk" id="idStatus" required>
                                        <span class="agreeCheck" style="cursor: pointer;">장기 미접속 시 계정 활성 상태를 유지합니다.</span>

                                    </label>
                                </div>
                            </div>
                </form>
            </div>



            <button type="submit" class="joinClear" id="joinclear"  disabled>
                <span>버튼만 누르면 가입완료!</span>
            </button>
        </form>
    </div>
    <p style="margin: 24px 0px;
        font-size: 13px;
        color: rgb(154, 155, 167);
        text-align: center;
        line-height: normal;">
        크몽은 회원님의 원할한 서비스 이용에 필요한 정보를
        <br>
        적절한 전자적 수단을 통해 제공되고 있습니다.
    </p>
</div>
</body>
<script>

	function submitChk(){
		let isIdChk = $("#isIdChk").val();
		console.log("isIdChk : " + isIdChk);
		if(isIdChk == "no"){
			alert("아이디 중복체크를 확인해주세요!!");
			$("#id").select();
			return false;
		}

		if(!isEmailChk){
			alert("이메일 인증 확인을 해주세요!!");
			$("#email").select();
			return false;
		}
  }

// 비밀번호 길이 체크
function pwCheck(){
		var userPassword = $("#userPassword").val();

		if(uid.length<3){
			$("#chkMsg").html("비밀번호는 8자리 이상이어야 합니다.")
			$("#chkMsg").css({"color":"red", "font-size":"13px"});
			return;
		}
  }

let submitBtn = document.getElementById("joinclear");
// 테이블의 모든 행을 선택/해제하는 메소드
function checkAll(){
            // chkall input이 체크가되면 true, 그렇지않으면 false 리턴
            let isChecked = document.getElementById("chkall").checked;

            let chks = document.getElementsByName('chk');
            for(let i=0; i<chks.length; i++){
                chks[i].checked = isChecked;
            }
            checkRequiredChoice();

        }

function checkRequiredChoice(){
  let ageChk = document.getElementById("age").checked;
  let svcChk = document.getElementById("termsOfService").checked;
  let privacyChk = document.getElementById("privacyPolicy").checked;

  console.log(submitBtn.disabled);

  if(ageChk && svcChk && privacyChk){
    submitBtn.disabled=false;
  }else{
    submitBtn.disabled=true;
  }
  console.log(ageChk);
  console.log(svcChk);
  console.log(privacyChk);
}

</script>
</html>