<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/userJoin.css">
</head>
<body>
<div class="container">
    <a href="/" class="logo">
        <img src="/imgs/kmong.svg" width="85px" height="26px" alt class="img">
    </a>

        <form class="main" onSubmit="submitChk()" action="/user/userInsert" method="POST">
            <h1>딱 이것만 체크하면 가입완료!</h1>

            <div class="join">
                <div class="txt">
                    아이디
                </div>
                <div class="input">
                    <input class="txtBox" onkeyup="idCheck()" type="Id" placeholder="아이디를 입력해주세요." id="userId" name="userId" autocomplete="Id">
                </div>
            </div>
            <p id="chkMsg" class="mb-2"></p>

            <input type="hidden" id="isIdChk" value="no"/>

            <div class="joinPw">
                <div class="txt">
                    비밀번호
                </div>
                <div class="input">
                    <input class="txtBox" type="password" onkeyup="pwCheck()" placeholder="비밀번호를 입력해주세요.(6자리 이상)" id="password" name="userPassword" autocomplete="password">
                </div>
            </div>
            <p id="chkMsg2" class="mb-2"></p>
            <input type="hidden" id="isPwChk" value="no"/>

            <div class="joinPw">
                <div class="input">
                    <input class="txtBox" type="password" onkeyup="rePwCheck()" placeholder="비밀번호 한번 더 입력해주세요." id="repassword" name="repassword" autocomplete="repassword">
                </div>
            </div>
            <p id="chkMsg3" class="mb-2"></p>
            <input type="hidden" id="isRePwChk" value="no"/>

            <div class="join">
                <div class="txt">
                    이름
                </div>
                <div class="input">
                    <input class="txtBox" type="name" onkeyup="nameCheck()" placeholder="이름을 입력해주세요." id="name" name="userName">
                </div>
            </div>
            <input type="hidden" id="isNameChk" value="no"/>

            <div class="join">
                <div class="txt">
                    별명
                </div>
                <div class="input">
                    <input class="txtBox" onkeyup="nicknameCheck()" type="nickname" placeholder="별명을 입력해주세요." id="nickname" name="userNickname" >
                </div>
            </div>
            <p id="chkMsg4" class="mb-2"></p>

            <input type="hidden" id="isNicknameChk" value="no"/>

            <div class="join">
                <div class="txt">
                    이메일
                </div>
                <div class="input">
                    <input class="txtBox" type="email" placeholder="이메일을 입력해주세요." name="userEmail" id="email" autocomplete="email">
                </div>
                <input type="button" onclick="emailCheck()" class="checkEmail"  value="인증하기">
                <!-- 이메일 인증코드 확인하기 -->
            </div>
            <div class="join" id="confirmEmail">

            </div>
            <input type="hidden" id="isEmailChk" value="no"/>

            <div class="join">
                <div class="txt">
                    전화번호
                </div>
                <div class="input">
                    <input class="txtBox" type="tel" maxlength="13"
                           placeholder="전화번호를 입력해주세요." name="userTel" id="tel" >
                </div>
            </div>
            <input type="hidden" id="isTelChk" value="no"/>

            <div class="join">
                <div class="txt">
                    직업
                </div>
                <div class="jobBox">
                    <select class="content" onclick="jobNameCheck()" name="userJobId" id="jobName" >
                        <option value="" selected disabled>직업을 선택해주세요</option>

                        <th:block th:each="job : ${jobList}">
                            <option th:value="${job.jobId}" th:text="${job.jobName}"></option>
                        </th:block>
                    </select>

                </div>
            </div>
            <input type="hidden" id="isJobNameChk" value="no"/>

            <!-- 동의 -->
            <div class="agreements">
                    <div class="allagree">
                        <label>
                            <input type="checkbox" id="chkall" onclick="checkAll()">
                            <span class="agreeCheck" style="cursor: pointer;">모두 동의합니다</span>
                        </label>
                    </div>
                    <div class="agree">
                        <div class="agreeContent">
                            <label>
                                <input type="checkbox" name="chk" id="age" value="age" required onclick="checkRequiredChoice()"/>
                                <span class="agreeCheck" style="cursor: pointer;">만 14세 이상입니다.</span>
                                <span style="color: rgb(255, 114, 98); ">(필수)</span>
                            </label>
                        </div>
                        <div class="agreeContent">
                            <input type="checkbox" name="chk" id="termsOfService" value="termsOfService" required onclick="checkRequiredChoice()" />
                            <label style="cursor: pointer;">
                                <a href="#" style="color: rgb(114, 117, 133);">서비스 이용약관</a>
                                에동의합니다
                            </label>
                            <span style="color: rgb(255, 114, 98);">(필수)</span>
                        </div>
                        <div class="agreeContent">
                            <input type="checkbox" name="chk" id="privacyPolicy" value="privacyPolicy" required onclick="checkRequiredChoice()"/>
                            <label style="cursor: pointer;">
                                <a href="#" style="color: rgb(114, 117, 133);">개인정보 수집/이용</a>
                                에동의합니다
                            </label>
                            <span style="color: rgb(255, 114, 98);">(필수)</span>
                            <div class="agreeContent">
                                <input type="checkbox" name="chk" id="allowPromotions" value="allowPromotions" required />
                                <label style="cursor: pointer;" >
                                    <a href="#" style="color: rgb(114, 117, 133);">마케팅 수신・홍보 목적의 개인정보 수집 및 이용</a>
                                    에 동의합니다. (선택)
                                </label>

                            </div>
                        </div>
                    </div>
            </div>

            <button type="submit" class="joinClear" id="joinclear"  disabled>
                <span>버튼만 누르면 가입완료!</span>
            </button>

    </form>
    <p style="margin: 24px 0px;
        font-size: 13px;
        color: rgb(154, 155, 167);
        text-align: center;
        line-height: normal;">
        크몽은 회원님의 원할한 서비스 이용에 필요한 정보를
        <br>
        적절한 전자적 수단을 통해 제공되고 있습니다.
    </p>
</div>

<script src="/js/join.js"></script>
</body>

</html>