<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/userDelete.css">
</head>
<header>
    <nav>
        <a href="/" class="logo">
            <img src="/imgs/kmong.svg" style="width: 85px; height: 26px;" alt class="img">
        </a>
    </nav>
</header>

<body>
<div class="container">
    <div class="main">
        <aside class="sidebar">
            <p style="font-size: 18px; color: #303441; font-weight: 600;">계정 설정</p>

            <hr style="margin: 0; border: none; background-color: rgb(0 0 0 / 12%);
                background-color: #303441; height: 2px;  margin-top: 20px; margin-bottom: 20px;">

            <a th:href="@{/user/userInfo}" class="side">나의 정보</a>
            <a th:href="@{/user/pwChange}" class="side">비밀번호 설정</a>
            <a th:href="@{/user/userUnregister}" class="side" style="background-color:#eee">회원탈퇴</a>
        </aside>
        <div class="content" style="margin-left: 24px; flex: 1;">
            <h1>회원탈퇴</h1>

            <form style="margin-top: 20px; padding: 40px; border: 1px solid #e4e5ed; display: flex;"
                  th:action="@{/user/userDelete}" method="POST">

                <div style="display:none;">
                    <th:block th:each="user : ${userInfo}">

                        <input type="text" id="userId" th:value="${user.userId}">

                    </th:block>

                </div>

                <section class="information">
                    <ul>
                        <li>• 현재 사용중인 계정 정보는 회원 탈퇴 후 복구가 불가합니다.</li>
                        <li>• 진행 중인 거래건이 있거나 페널티 조치 중인 경우 탈퇴 신청이 불가합니다.</li>
                        <li>• 탈퇴 후 회원님의 정보는 전자상거래 소비자보호법에 의거한 크몽 개인정보처리방침에 따라 관리됩니다.</li>
                        <li>• 현재 보유 중인 쿠폰 및 무상지급된 크몽 캐시와 마일리지는 모두 자동 소멸되며, 탈퇴 후 재가입하더라도 이미 소멸되었기 때문에 양도되지 않습니다.</li>
                        <li>• 구매후기 및 답글은 탈퇴 시 자동 삭제되지 않습니다. 탈퇴 후에는 계정 정보가 삭제되어 본인 확인이 불가하므로, 탈퇴 신청 전에 게시글 삭제를 요청해 주시기 바랍니다.</li>
                        <li>• 충전 캐시 또는 수익금이 있을 경우, 캐시 환불 및 수익금 출금을 통해 정산이 완료된 이후 탈퇴를 신청하셔야 합니다.
                            <br>* 무상으로 지급된 크몽캐시는 탈퇴와 함께 자동 소멸됩니다.</li>
                    </ul>
                    <div style="margin-top: 20px; display: flex;">
                        <div style="flex-grow: 1;"></div>
                        <button type="button" color="default" onclick="userDeleteButton()">
                            <span>회원 탈퇴</span>
                        </button>
                    </div>
                </section>
            </form>
        </div>
    </div>
    <script src="/js/userDelete.js"></script>
</body>
</html>