/*section */
.section .table{
    width: 80%;
    margin: auto;
}
.section .table th{
    margin:auto;
}
.section .table td{
     text-align: center;
}

.section .paging{
    margin: 20px;

    display: flex;
    justify-content: center;
}
.section .paging .edge{
    margin: auto 7px;

    height: 2em;
}
.section .paging .move{
     margin: auto 5px;

     height: 2em;
}
.section .paging .btn{
     margin: auto 0;

     height: 2em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
.modal-content table{
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
.modal-content table tr td{
    border: 1px solid black;
    padding: 10px;
}
.modify{
    border: 1px solid green;
    background-color: green;
    display: block;
    margin: auto;
    margin-top: 20px;
}

/* The Close Button */
.close1,
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close2:hover,
.close1:focus,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}