.category-kind{
    width: 90%;
    margin: 10px auto; padding: 5px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 5px solid #000;
}
.category-kind .cat-kind-head{
    display: flex;
    width: 100%;
}
.category-kind .cat-kind-head h3{
    display: block;

    margin-top: 1px;
}
.category-kind .cat-kind-head .btn-expand{
    margin-left: auto;
    height: 30px;

    background-color: #e1fdd3;
    border-radius: 10px;
}
.category-kind .cat-box{
    width:100%;
}
.category-kind .cat-box #job-list{
    width:100%;
    border:1px solid black;
}
.category-kind .cat-box #category-list{
    width:100%;
    border:1px solid black;
}
.category-kind .cat-box .a{
    background-color: #d3d3d3;
    border-radius: 40px;
    padding: 0 10px; margin: 10px 10px;
    height: 2em;

    color: #292929;
    line-height: 1em;
}
.category-kind .cat-box .cat-elem{
    width:100%;
    padding: 0;
}
.btn-add{
    background-color: #3184ff;
    color: white;
    border-radius: 15px;

    position: relative;
    left: 50%;
    transform: translate(-50%,0);

    margin-top: 20px; margin-bottom: 6px;
}
.btn-delete{
    margin-left:auto;

    background-color: #de2121;
    color: white;
    border-radius: 10px;
}

/* 카테고리 정보 */
.section  .category-info{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #000;
}
/* 정보 텍스트 표시 */
.section .category-info .info-head{
    display: flex;
}
.section .category-info .info-head .info-elem{
    display: flex;
    margin: auto;
}
.section .category-info .info-head .info-elem input{
    height: 2em;
    margin: auto auto;
    margin-left: 10px;
}
/* 환불규정 */
.section .category-info .refund-box{
}
.section .category-info .refund-box h4{
    margin-left: 20px;
}
.section .category-info .refund-box textarea{
    width: 90%; height: 10em;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 20px;
    resize: none;
}
/* 서비스 타입 */
.section .service-type{
    width: 90%;
    margin: auto;
}
.section .service-type .type-box{
    display:flex;
}
.section .service-type .type-info{
    margin:auto;
}
