<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kmong.kmongdemo.mapper.AdminCategoryMapper">
<!--    job 관리 -->
<!--    list 가져오기-->
    <select id="jobList" resultType="com.kmong.kmongdemo.domain.JobDTO">
        SELECT * FROM Job
    </select>
<!--    삽입-->
    <insert id="insertJob" parameterType="String">
        INSERT INTO Job(jobName) VALUES(#{jname})
    </insert>
<!--    삭제-->
    <delete id="removeJob" >
        DELETE FROM job WHERE jobId = #{jid}
    </delete>

<!--    service type 관리-->
<!--    list 가져오기-->
    <select id="typeList" resultType="com.kmong.kmongdemo.domain.AdminServiceTypeDTO">
        SELECT * FROM AdminServiceType
    </select>
<!--    타입 삽입-->
    <insert id="insertType" parameterType="com.kmong.kmongdemo.domain.AdminServiceTypeDTO">
        INSERT INTO AdminServiceType(serviceTypeName, serviceTypeMandatory) VALUES(#{serviceTypeName}, #{serviceTypeMandatory})
    </insert>
<!--    타입 삭제-->
    <delete id="removeType" >
        DELETE FROM AdminServiceType WHERE serviceTypeId = #{tid}
    </delete>

<!--    category 관리-->
    <select id="categoryList" resultType="com.kmong.kmongdemo.domain.AdminCategoryDTO">
        SELECT * FROM category ORDER BY categoryUpperId
    </select>
    <select id="categoryView" resultType="com.kmong.kmongdemo.domain.AdminCategoryDTO">
        SELECT * FROM category WHERE categoryId = #{cid}
    </select>
    <insert id="insertCategory" parameterType="com.kmong.kmongdemo.domain.AdminCategoryDTO">
        INSERT INTO category(categoryName, categoryUpperId, categoryRefund, serviceTypeId1, serviceTypeId2, serviceTypeId3, serviceTypeId4, serviceTypeId5, serviceTypeId6, serviceTypeId7, serviceTypeId8)
        VALUES(#{categoryName}, #{categoryUpperId}, #{categoryRefund}, #{serviceTypeId1}, #{serviceTypeId2}, #{serviceTypeId3}, #{serviceTypeId4}, #{serviceTypeId5}, #{serviceTypeId6}, #{serviceTypeId7}, #{serviceTypeId8})
    </insert>
    <select id="maxId" resultType="int">
        SELECT MAX(categoryId) FROM category
    </select>
    <update id="modifyCategory" parameterType="com.kmong.kmongdemo.domain.AdminCategoryDTO">
        UPDATE category SET categoryName = #{categoryName}, categoryUpperId = #{categoryUpperId}, categoryRefund = #{categoryRefund},
        serviceTypeId1 = #{serviceTypeId1}, serviceTypeId2 = #{serviceTypeId2}, serviceTypeId3 = #{serviceTypeId3}, serviceTypeId4 = #{serviceTypeId4}, serviceTypeId5 = #{serviceTypeId5}, serviceTypeId6 = #{serviceTypeId6}, serviceTypeId7 = #{serviceTypeId7}, serviceTypeId8 = #{serviceTypeId8}
        WHERE categoryId = #{categoryId}
    </update>
    <update id="checkUp">
        UPDATE category SET categoryUpperId = #{id}
        WHERE categoryId = #{id}
    </update>
    <delete id="removeCategory" >
        DELETE FROM category WHERE categoryId = #{cid}
    </delete>
    <delete id="removeCategoryU" >
        DELETE FROM category WHERE categoryUpperId = #{cid}
    </delete>
</mapper>