<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kmong.kmongdemo.mapper.ServiceMapper">
    <select id="topCatList" resultType="categoryDTO">
        SELECT * FROM serviceTopCat
    </select>

    <select id="serviceTypeChkList" resultType="com.kmong.kmongdemo.domain.ServiceTypeChkDTO">
        SELECT * FROM serviceTypeChk WHERE serviceTypeChkCode=#{code}
    </select>

    <select id="serviceTypeList" resultType="stDTO">
        SELECT * FROM serviceType

    </select>

    <insert id="serviceInput" parameterType="map">
        INSERT INTO serviceInfo(splID, serviceStatus, serviceTitle, serviceTopCat, serviceType1, serviceType2, serviceType3, serviceType4,serviceType5,
        serviceType6, serviceType7, serviceType8, serviceType9, serviceType10, priceTitle, priceExplain, servicePriceNumber, serviceDuration, svcModificationNum,
        serviceExplain, serviceProcedure, clientPreps, mainImg, subImgExist, subImg1, subImg2, subImg3, subImg4, subImg5, subImg6, subImg7, subImg8, subImg9)
        values(#{splID}, #{serviceStatus}, #{serviceTitle}, #{serviceTopCat}, #{serviceType1}, #{serviceType2}, #{serviceType3}, #{serviceType4}, #{serviceType5},
        #{serviceType6}, #{serviceType7}, #{serviceType8}, #{serviceType9}, #{serviceType10}, #{priceTitle}, #{priceExplain}, #{servicePriceNumber}, #{serviceDuration},
        #{svcModificationNum}, #{serviceExplain}, #{serviceProcedure}, #{clientPreps}, #{mainImg}, #{subImgExist}, #{subImg1}, #{subImg2}, #{subImg3}, #{subImg4}, #{subImg5}, #{subImg6}, #{subImg7}, #{subImg8}, #{subImg9})
    </insert>
    <insert id="serviceTempSave" parameterType="map">
        INSERT INTO TemporaryServiceInfo(splID, serviceStatus, serviceTitle, serviceTopCat, serviceType1, serviceType2, serviceType3, serviceType4,serviceType5,
        serviceType6, serviceType7, serviceType8, serviceType9, serviceType10, priceTitle, priceExplain, servicePriceNumber, serviceDuration, svcModificationNum,
        serviceExplain, serviceProcedure, clientPreps, mainImg, subImgExist, subImg1, subImg2, subImg3, subImg4, subImg5, subImg6, subImg7, subImg8, subImg9)
        values(#{splID}, #{serviceStatus}, #{serviceTitle}, #{serviceTopCat}, #{serviceType1}, #{serviceType2}, #{serviceType3}, #{serviceType4}, #{serviceType5},
        #{serviceType6}, #{serviceType7}, #{serviceType8}, #{serviceType9}, #{serviceType10}, #{priceTitle}, #{priceExplain}, #{servicePriceNumber}, #{serviceDuration},
        #{svcModificationNum}, #{serviceExplain}, #{serviceProcedure}, #{clientPreps}, #{mainImg}, #{subImgExist}, #{subImg1}, #{subImg2}, #{subImg3}, #{subImg4}, #{subImg5}, #{subImg6}, #{subImg7}, #{subImg8}, #{subImg9}))
    </insert>


</mapper>