<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kmong.kmongdemo.mapper.ServiceMapper">
    <select id="topCatList" resultType="com.kmong.kmongdemo.domain.CategoryDTO">
        SELECT * FROM serviceTopCat
    </select>

    <select id="serviceTypeChkList" resultType="com.kmong.kmongdemo.domain.serviceTypeChkList">
        SELECT * FROM serviceTypeChk WHERE serviceTypeChkCode=#{code}

    </select>

</mapper>