<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kmong.kmongdemo.mapper.UserMapper">
    <select id="userList" resultType="com.kmong.kmongdemo.domain.UserDTO">
        SELECT * FROM user
    </select>

    <insert id="userInsert" parameterType="UserDTO">
        INSERT INTO user(userId, userPassword, userName,
        userNickname, userEmail, userTel, userJobId)
        VALUES(#{userId},
        #{userPassword},
        #{userName},
        #{userNickname},
        #{userEmail},
        #{userTel},
        #{userJobId}
        )
    </insert>

    <select id="idCheck" resultType="userDTO">
        SELECT * FROM user WHERE userId=#{userId}
    </select>

    <select id="nicknameCheck" resultType="userDTO">
        SELECT * FROM user WHERE userNickname=#{userNickname}
    </select>

    <select id="userLogin" resultType="userDTO">
        SELECT userId, userPassword, userName, userNickname, userEmail, userTel,
        userJobId FROM user WHERE userId=#{userId}
    </select>

    <!-- ifnull()는 오라클의 nvl()과 같다.	-->
    <select id="findId" resultType="String">
        SELECT IFNULL(userId, 0) FROM user WHERE userName = #{userName} AND userTel = #{userTel}
    </select>

    <update id="findPw" parameterType="Map">
        UPDATE user SET userPassword=#{param3}
        WHERE userId= #{param1} AND userEmail = #{param2}
    </update>

    <update id="updatePw">
        UPDATE user SET userPassword=#{userPassword} WHERE userId=#{userId}
        <!--        UPDATE user SET userPassword=#{pw} WHERE userId=#{userId}-->
    </update>

    <delete id="userDelete">
        DELETE FROM user WHERE userId = #{userId}
    </delete>

    <select id="userInfo" resultType="userDTO">
        SELECT * FROM user WHERE userId = #{userId}
    </select>

    <update id="userUpdate">
        UPDATE user SET userId=#{userId}, userEmail=#{userEmail},userTel=#{userTel},userJobId=#{userJobId}
        WHERE userId=#{userId}
    </update>

</mapper>